@charset "ISO-8859-1";

.nav{
	position: relative;
	width: 20%; 
	float: left; 
	margin-top: 50px;
	
}

.main{
	position: relative;
	width: 80%;
	float: right;
	margin-top: 50px;
}

.result-area{
	position:relative; 
	float: right; 
	overflow: auto; 
	top:2px; 
	width: 50%; 
	word-wrap: normal ;
	max-height: 450px; 
	margin-top: 2px; 
	
}
